body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    animation: fade-in;
    animation-duration: 1s;
}

#insta {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 25px;
    height: 25px;
    transition: all 0.4s;
}

#insta:hover {
    scale: 1.1;
    transition: all 0.2s;
}

#cim {
    background-color: #6BA863;
    width: 100%;
    animation: fade-in-zold;
    animation-duration: 1s;
}

#cim h1 {
    padding-bottom: 10px;
}

#buy {
    position: relative;
    margin-bottom: 10%;
    background-color: #6BA863;
    width: 250px;
    height: 70px;
    border-radius: 20px;
    margin-left: 12%;
    animation: fade-in-zold;
    animation-duration: 0.7s;
    transition: all 0.4s;
    box-shadow: 0 0;
}

#buy:hover {
    scale: 1.1;
    box-shadow: 16px 16px;
    transition: all 0.2s;
}


#buy h1 {
    padding-top: 9px;
    animation: fade-in;
    animation-duration: 1s;
}

#minden {
    width: 80%;
    margin-left: 20%;
    margin-top: 15%;
}

#lab {
    clear: both;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    background-color: #6BA863;
    width: 100%;
    animation: fade-in-zold;
    animation-duration: 1s;
}

#lab h3 {
    margin-left: 4%;
    animation: fade-in;
    animation-duration: 1s;
}

#lab p {
    margin-left: 5%;
    animation: fade-in;
    animation-duration: 1s;
}

#description {
    margin-top: 5%;
    margin-left: 55%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #BFBEBE;
    margin-bottom: 0;
    width: 40%;
    border-radius: 20px;
    animation-name: fade-in-background;
    animation-duration: 0.7s;
}
#description p {
    animation-name: fade-in;
    animation-duration: 1s;
    margin-left: 11%;
}

#description h3 {
    animation-name: fade-in;
    animation-duration: 1s;
    margin-left: 8%;
}


#description li {
    animation-name: fade-in;
    animation-duration: 1s;
}

img {
    animation: fade-in-kep;
    animation-duration: 1s;
}

  @keyframes fade-in {
    
    0%   {color:#D9D9D9;}
    40%  {color:#D9D9D9;}
    100%  {color:black;}
  }

  @keyframes fade-in-leiras {
    0%   {background-color:#D9D9D9;}
    25%  {background-color:#D9D9D9;}
    100%  {background-color:#BFBEBE;}
  }

  @keyframes fade-in-zold {
    0%   {background-color:#D9D9D9;}
    25%  {background-color:#D9D9D9;}
    100%  {background-color:#6BA863;}
  }
  @keyframes fade-in-kep {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    100%  {opacity: 100%;}
  }

#carouselExampleControls {
    float: left;
    margin-left: 12%;
    margin-top:5%;
    width: 35%;
    height: 35%;
}